<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
<div mat-dialog-title>
    <p class="current_title my-1">INICIO SESIÓN</p>
</div>
<form [formGroup]="form" autocomplete="off" (ngSubmit)="form.valid ? send() : ''" autocomplete="new-username">
    <mat-dialog-content class="mat-typography">
               
            <div class="col-md-12">
                <label for="name" class="current_SubTitle">Email</label>
                <mat-form-field class="w-100">
                    <input matInput formControlName="new-username" required autocomplete="off"/>
                    <mat-error *ngIf="username.invalid">
                        Usuario requerido.
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="col-md-12">
                <label for="name" class="current_SubTitle">Password</label>
                <mat-form-field class="w-100">
                    <input matInput formControlName="password" type="password" required autocomplete="false"/>
                    <mat-error *ngIf="password.invalid">
                        Password requerido.
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="d-grid ">
                <button class="btn btn-success rounded-pill btn-lg mb-4" type="submit">Aceptar</button>
            </div>
       
    </mat-dialog-content>
</form>
