
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>COMPRA TUS PUNTOS PARA ACERTAR</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
               <h2 class="card-title">1000 P</h2>
               <strong>S/ 10.00</strong><br>
              <button class="btn btn-primary btn-lg btn-block">COMPRAR</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">1500 P</h2>
                <strong>S/ 15.00</strong><br>
                <button class="btn btn-primary btn-lg btn-block">COMPRAR</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">2000 P</h2>
                <strong>S/ 20.00</strong><br>
                <button class="btn btn-primary btn-lg btn-block">COMPRAR</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">2500 P</h2>
                <strong>S/ 25.00</strong><br>
                <button class="btn btn-primary btn-lg btn-block">COMPRAR</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">3000 P</h2>
                <strong>S/ 30.00</strong><br>
                <button class="btn btn-primary btn-lg btn-block">COMPRAR</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">3500 P</h2>
                <strong>S/ 35.00</strong><br>
                <button class="btn btn-primary btn-lg btn-block">COMPRAR</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">4000 P</h2>
                <strong>S/ 40.00</strong><br>
                <button class="btn btn-primary btn-lg btn-block">COMPRAR</button>
              </div>
            </div>
          </div>
      </div>
</div>

