  .mat-table {
    overflow-x: scroll;
  }

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
   padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
}


th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
  width: 20px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
.textleft{
  text-align: left;
}


.selectSocer{
  font-weight: 500;
     margin: 0;
    padding: 0;
    border: 0;
    font-size: 11px;
    vertical-align: initial;
}
.selectResult{
  margin-right: 50px;
  font-weight: 200;
  --bs-text-opacity: 1;
    color: #292929 !important;
    
}
.selectIcon{
  color: red;
  padding-left: 10px;
  cursor: pointer;
}
.fontSisePoint{
  font-size: 11px !important;
  color: black !important;
}
.fontSizeText{
  font-size: 14px !important;
  
}
.menuDestacados{
  text-align: justify;
    background-color: #1d6994;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.menuHeader{
  text-align: justify;
    background-color: #ed600e;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.menuSubMenu{
  text-align: initial;
    font-size: 16px;
    background-color: aliceblue;
    cursor: pointer;
}
.menuSubSubMenu{
    text-align: end;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}

.text-center {
  text-align: center !important;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.fontSizeGoal{
  font-size: 12px !important;
  
}