<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="d-none d-sm-block col-sm-12 col-md-4 col-lg-2 hidden-xs">
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">LIGAS PRINCIPALES</span>
                </a>
                <div class="nav" *ngFor="let item of lstLigueOutstanding">
                    <a class="nav-link collapsed list-group-item menuDestacados" (click)="applyFilter(item.id)">
                        <mat-icon>blur_circular</mat-icon> {{item.name}}
                    </a>
                </div>
                <a class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">MENÚ</span>
                </a>
                <div class="nav" *ngFor="let item of lstSoccerCategorys">

                    <a class="nav-link collapsed list-group-item menuHeader" href="#" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#'+item.name" aria-expanded="false" aria-controls="collapsePages">
                        <mat-icon>keyboard_arrow_right</mat-icon> {{item.name}}
                    </a>
                    <div class="collapse" id="{{item.name}}" aria-labelledby="headingTwo"
                        data-bs-parent="#sidenavAccordion" style="">
                        <nav class="sb-sidenav-menu-nested nav accordion" *ngFor="let sbm of item.soccerSubCategorys"
                            id="sidenav+ {{sbm.id.toString()}}">
                            <a class="nav-link collapsed list-group-item menuSubMenu" href="#" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#' + sbm.name" aria-expanded="false"
                                [attr.aria-controls]="sbm.name">
                                <mat-icon>keyboard_arrow_right</mat-icon>{{sbm.name}}
                            </a>
                            <div class="collapse" id="{{sbm.name}}" aria-labelledby="headingOne"
                                [attr.data-bs-parent]="'#sidenav' + sbm.id.toString()" style="">
                                <nav class="sb-sidenav-menu-nested nav" *ngFor="let sbsm of sbm.ligues">
                                    <a class="nav-link list-group-item menuSubSubMenu">{{sbsm.name}}</a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="row">
                <div class="col-12">
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="PATIDOS DEL DIA">
                            <div class="col-sm-12 table-responsive">
                                <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef class="textleft"> Hora </th>
                                        <td mat-cell *matCellDef="let element; let i = index;" class="textleft"> {{element.hour}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Equipos" sticky>
                                        <th mat-header-cell *matHeaderCellDef class="textleft">Equipos</th>
                                        <td mat-cell *matCellDef="let element; let i = index;" class="textleft">
                                            {{element.deportText}}</td>
                                    </ng-container>
                                    <!-- Name Column -->
                                    &nbsp;
                                    <ng-container matColumnDef="L/E/V">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> Resultado </th>
                                        <td mat-cell *matCellDef="let element">

                                            <div class="btn-group">
                                                <input type="checkbox" class="btn-check" id="id1+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,1,element.id,element.pointA,element.teamA,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectTeamA">
                                                <label class="btn btn-outline-primary fontSizeText"
                                                    for="id1+{{element.id}}">{{element.teamA}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointA}}
                                                    </div>
                                                </label>
                                                &nbsp;

                                                <input type="checkbox" class="btn-check" id="id3+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,3,element.id,element.pointTie,element.tieText,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectTie">
                                                <label class="btn btn-outline-primary fontSizeText"
                                                    for="id3+{{element.id}}">{{element.tieText}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointTie}}
                                                    </div>
                                                </label><br>
                                                &nbsp;
                                                <input type="checkbox" class="btn-check" id="id2+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,2,element.id,element.pointB,element.teamB,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectTeamB">
                                                <label class="btn btn-outline-primary fontSizeText"
                                                    for="id2+{{element.id}}">{{element.teamB}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointB}}
                                                    </div>
                                                </label><br>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="Goles0.5">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> Goles 0.5 </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="btn-group">
                                                <input type="checkbox" class="btn-check" id="id4+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,4,element.id,element.pointGoal1,element.goal1Text,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectGoal1">
                                                <label class="btn btn-outline-primary fontSizeGoal"
                                                    for="id4+{{element.id}}">{{element.goal1Text}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointGoal1}}
                                                    </div>
                                                </label>
                                                &nbsp;
                                                <input type="checkbox" class="btn-check" id="id9+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,9,element.id,element.pointGoal_1,element.goal_1Text,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectGoal_1">
                                                <label class="btn btn-outline-primary fontSizeGoal"
                                                    for="id9+{{element.id}}">{{element.goal_1Text}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointGoal_1}}
                                                    </div>
                                                </label><br>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="Goles1.5">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> Goles1.5 </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="btn-group">
                                                <input type="checkbox" class="btn-check" id="id6+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,6,element.id,element.pointGoal2,element.goal2Text,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectGoal2">
                                                <label class="btn btn-outline-primary fontSizeGoal"
                                                    for="id6+{{element.id}}">{{element.goal2Text}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointGoal2}}
                                                    </div>
                                                </label>
                                                &nbsp;
                                                <input type="checkbox" class="btn-check" id="id10+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,10,element.id,element.pointGoal_2,element.goal_2Text,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectGoal_2">
                                                <label class="btn btn-outline-primary fontSizeGoal"
                                                    for="id10+{{element.id}}">{{element.goal_2Text}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointGoal_2}}
                                                    </div>
                                                </label><br>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Goles2.5">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> Goles2.5 </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="btn-group">
                                                <input type="checkbox" class="btn-check" id="id7+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,7,element.id,element.pointGoal3,element.goal3Text,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectGoal3">
                                                <label class="btn btn-outline-primary fontSizeGoal"
                                                    for="id7+{{element.id}}">{{element.goal3Text}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointGoal3}}
                                                    </div>
                                                </label>
                                                &nbsp;
                                                <input type="checkbox" class="btn-check" id="id11+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,11,element.id,element.pointGoal_3,element.goal_3Text,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectGoal_3">
                                                <label class="btn btn-outline-primary fontSizeGoal"
                                                    for="id11+{{element.id}}">{{element.goal_3Text}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointGoal_3}}
                                                    </div>
                                                </label><br>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Goles3.5">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> Goles3.5 </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="btn-group">
                                                <input type="checkbox" class="btn-check" id="id8+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,8,element.id,element.pointGoal4,element.goal4Text,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectGoal4">
                                                <label class="btn btn-outline-primary fontSizeGoal"
                                                    for="id8+{{element.id}}">{{element.goal4Text}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointGoal4}}
                                                    </div>
                                                </label>
                                                &nbsp;
                                                <input type="checkbox" class="btn-check" id="id12+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,12,element.id,element.pointGoal_4,element.goal_4Text,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectGoal_4">
                                                <label class="btn btn-outline-primary fontSizeGoal"
                                                    for="id12+{{element.id}}">{{element.goal_4Text}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointGoal_4}}
                                                    </div>
                                                </label><br>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="LE/EV">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> LE/EV </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="btn-group">
                                                <input type="checkbox" class="btn-check" id="id13+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,13,element.id,element.pointLE,element.teamLE,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectTeamLE">
                                                <label class="btn btn-outline-primary fontSizeGoal"
                                                    for="id13+{{element.id}}">{{element.teamLE}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointLE}}
                                                    </div>
                                                </label>
                                                &nbsp;
                                                <input type="checkbox" class="btn-check" id="id14+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,14,element.id,element.pointEV,element.teamEV,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectTeamEV">
                                                <label class="btn btn-outline-primary fontSizeGoal"
                                                    for="id14+{{element.id}}">{{element.teamEV}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointEV}}
                                                    </div>
                                                </label><br>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="G/G">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> G/G </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="btn-group">
                                                <input type="checkbox" class="btn-check" id="id15+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,15,element.id,element.pointSI,element.goalSi,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectGG1">
                                                <label class="btn btn-outline-primary fontSizeGoal"
                                                    for="id15+{{element.id}}">{{element.goalSi}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointSI}}
                                                    </div>
                                                </label>
                                                &nbsp;
                                                <input type="checkbox" class="btn-check" id="id16+{{element.id}}"
                                                    autocomplete="off"
                                                    (change)="goSelect($event,16,element.id,element.pointNO,element.goalNo,element.deportText,element)"
                                                    [disabled]="element.stateSelect" [ngModel]="element.selectGG2">
                                                <label class="btn btn-outline-primary fontSizeText"
                                                    for="id16+{{element.id}}">{{element.goalNo}}
                                                    <div class="badgetext-wrap fontSisePoint">
                                                        {{element.pointNO}}
                                                    </div>
                                                </label><br>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab label="PREMIOS MAYOR PUNTAJE">Content 2</mat-tab>
                        <mat-tab label="PREMIOS GRATUITOS">Content 3</mat-tab>
                    </mat-tab-group>
                </div>

            </div>


        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="row" *ngIf="isUser">
                <div class="col-12">
                    <app-user-filter></app-user-filter>
                </div>
            </div>
            <div class="row" *ngIf="isUser">
                <div class="col-12">
                    <div class="card p-2">
                        <button class="btn btn-warning btn-sm" (click)="goPayment()">ACTIVAR MEMBRESIA</button>
                    </div>
                    <div class="card p-2">
                        <button class="btn btn-warning btn-sm" (click)="goPakague()">COMPRAR POINT</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    MIS ACIERTOS
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="jumbotron mt-3">
                                        <div class="row align-items-center">
                                            <div class="col-md-12 ">
                                                <mat-accordion *ngFor="let item of lstHitsUser">
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header [ngClass]="{'bg-warning':item.finalyResult === null,'bg-danger':item.finalyResult === false,'bg-success':item.finalyResult === true}">
                                                            <mat-panel-title>
                                                                <span class="badge bg-primary rounded-pill">
                                                                    {{item.sportHitsDetails.length}}</span> &nbsp;
                                                                {{item.code}}
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <ul class="list-group mb-3" style="margin-top: 3px;">
                                                            <li class="list-group-item d-flex justify-content-between lh-sm"
                                                                *ngFor="let dt of item.sportHitsDetails">
                                                                <div>
                                                                    <h6 class="fw-bold selectSocer">
                                                                        {{dt.betTypeResult}}</h6>
                                                                    <small class="selectResult">{{dt.betTypeId > 12 ?
                                                                        'G/G':'1x2'}}
                                                                        {{dt.playGameText}}</small>
                                                                </div>
                                                                <span class="text-muted"> {{dt.pointGame}}
                                                                    <mat-icon style="color: rgb(240, 232, 15);;"
                                                                        title="pendiente"
                                                                        *ngIf="dt.finalyResult === null">history
                                                                    </mat-icon>
                                                                    <mat-icon style="color: rgb(5, 126, 35);"
                                                                        title="acertado"
                                                                        *ngIf="dt.finalyResult === true">done_outline
                                                                    </mat-icon>
                                                                    <mat-icon style="color: red;" title="fallado"
                                                                        *ngIf="dt.finalyResult === false">clear
                                                                    </mat-icon>
                                                                </span>
                                                            </li>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between lh-sm">
                                                                <div>
                                                                    <p class="fw-bold">Valor Total :{{item.pointsHit}}
                                                                    </p>
                                                                    <p class="fw-bold">Valor Ganar :{{item.pointsEarn}}
                                                                    </p>
                                                                </div>

                                                            </li>
                                                        </ul>
                                                    </mat-expansion-panel>
                                                    <!--<mat-expansion-panel (opened)="panelOpenState = true"
                                                                                 (closed)="panelOpenState = false">
                                                              <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                  => Mis ganadas
                                                                </mat-panel-title>
                                                              </mat-expansion-panel-header>
                                                              <p>I'm visible because I am open</p>
                                                            </mat-expansion-panel>-->
                                                </mat-accordion>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" *ngIf="lstBet.length > 0">
                <div class="col-12">
                    &nbsp;
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-success"> {{lstBet.length > 1 ? 'MULTIPLE':'SIMPLE'}} </span>
                        <span class="badge bg-primary rounded-pill">{{lstBet.length}}</span>
                    </h4>

                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let item of lstBet">
                            <div>
                                <h6 class="fw-bold selectSocer"> {{item.betTypeResult}}</h6>
                                <small class="selectResult">{{item.betTypeId >= 15 ? 'G/G':'1x2'}}
                                    {{item.playGameText}}</small>
                            </div>
                            <span class="text-muted"> {{item.pointGame}} <mat-icon class="selectIcon"
                                    (click)="deleteSelect(item.matchId,item.betTypeId,item)">highlight_off</mat-icon>
                            </span>
                        </li>
                        <li class="btn btn-link" (click)="clearAll()">
                            <a>Limpiar todo X</a>
                        </li>
                    </ul>
                    <div class="card p-2">
                        <form [formGroup]="form" autocomplete="off" (ngSubmit)="form.valid ? goPlayGame() : ''">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Bono a acertar</span>
                            <!--<input onlyInteger matInput formControlName="pointPlay" type="text" class="form-control">-->
                            <mat-form-field class="w-100">
                                <input matInput onlyInteger formControlName="pointPlay" required
                                    (input)="goCalcPointPlay()" />
                                <mat-error *ngIf="pointPlay.invalid">
                                    Ingrese bonos a acertar.
                                </mat-error>
                            </mat-form-field>
                            <button type="submit" class="btn btn-success btn-sm btn-block">ACERTAR</button>
                        </form>
                        &nbsp;
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total bonos a ganar : </span>
                            <strong>{{pointGameOver | number : '1.2-2'}}</strong>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>