::ng-deep app-preloader{
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
::ng-deep .mat-progress-spinner circle{
    stroke: var(  );
}