<ng-http-loader [entryComponent]="loaderComponent"></ng-http-loader>
  <!-- Navigation-->
 <app-nav></app-nav>


<!-- Mashead header-->

<!-- Quote/testimonial aside-->
<aside class="text-center">
    <router-outlet></router-outlet>
</aside>
<!-- App features section-->

<!-- Basic features section-->

<!-- Call to action section-->


<!-- Footer-->
<footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            <div class="mb-2">© Your Website 2021. All Rights Reserved.</div>
            <a href="#!">Privacy</a>
            <span class="mx-1">·</span>
            <a href="#!">Terms</a>
            <span class="mx-1">·</span>
            <a href="#!">FAQ</a>
        </div>
    </div>
</footer>



